dotenv_if_exists .env
use flake
LOCAL_PATH=$(cd $(dirname ${BASH_SOURCE[0]}); pwd -P)/
export NIX_SHELL_DIR=$LOCAL_PATH/.nix-shell
test -d $NIX_SHELL_DIR && mkdir -p $NIX_SHELL_DIR
#Make project setup pure
export PYTHONPATH=$NIX_SHELL_DIR/python
export POETRY_CONFIG_DIR=$NIX_SHELL_DIR/poetry
export POETRY_HOME=$NIX_SHELL_DIR/pypoetry
export POETRY_CACHE_DIR=$NIX_SHELL_DIR/poetry-cache
#Project auto-setup
poetry env use $(which python)
if ! test -d $poetry-cache; then
  poetry install
fi